/*.footer{

    & .footer__container{

        & .footer__logo{
            

            & img {
                width: auto;
                height: auto;
            }
        }
    
        & .footer__menu{
    
            & .footer__links{
    
                & .footer__items a{
                }
    
                & .footer__items a:hover{
                }
            }
        }
    
    
        & .footer__contactos{
    
            & .contactos__items{
    
                & .footer__svg{
    
                    & .footer__svg--phone{
                    }
    
                    & .footer__svg--email{
                    }
    
                    & .footer__svg--location{
                    }
                }
                
            }
        }
    
        & .footer__redes{         
    
            & .footer__texto{
    
                & .footer__svgRedes{
    
                    & .footer__icon{
                    }
    
                }
    
            }
    
    
        }
    }

    & .footer__derechos{
    }
}
*/
.footer {
	background-image: linear-gradient(355deg,
			hsl(236deg 100% 43%) 23%,
			hsl(231deg 100% 44%) 39%,
			hsl(228deg 100% 45%) 50%,
			hsl(225deg 100% 46%) 58%,
			hsl(223deg 100% 46%) 65%,
			hsl(221deg 100% 47%) 70%,
			hsl(219deg 100% 47%) 75%,
			hsl(217deg 100% 48%) 79%,
			hsl(216deg 100% 48%) 83%,
			hsl(215deg 100% 48%) 86%,
			hsl(213deg 100% 48%) 88%,
			hsl(212deg 100% 49%) 91%,
			hsl(211deg 100% 49%) 93%,
			hsl(210deg 100% 49%) 94%,
			hsl(209deg 100% 49%) 96%,
			hsl(208deg 100% 49%) 97%,
			hsl(208deg 97% 49%) 98%,
			hsl(209deg 94% 50%) 99%,
			hsl(209deg 94% 51%) 99%,
			hsl(209deg 93% 51%) 100%,
			hsl(209deg 93% 52%) 100%,
			hsl(210deg 92% 52%) 100%,
			hsl(210deg 92% 52%) 100%,
			hsl(210deg 92% 53%) 100%);
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer__container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.footer__logo {
	min-width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;

	& img {
        margin: auto;
		width: 100%;
    }
}

.footer__menu {
	display: flex;
	justify-content: center;
	min-width: min-content;
}

.footer__links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

.footer__items a {
	text-decoration: none;
	color: #fff;
}

.footer__items a:hover {
	text-decoration: underline;
}

.footer__items--link {}

.footer__contactos {
	min-width: 350px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 1em;
	gap: 10px;
}

.contactos__items {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.footer__svg {
}

.footer__svg--phone {
	width: 30px;
	height: 35px;
}

.contactos__info {
}

.footer__svg--email {
	width: 30px;
	height: 35px;
}

.footer__svg--location {
	width: 30px !important;
	height: 35px !important;
}

.footer__redes {
	min-width: 250px;
}

.footer__texto {
	padding: 25px 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__svgRedes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30px, 30px));
	gap: 10px;
}

.footer__icon {
	width: 30px;
	height: auto;
}

.footer__icon--size {}

.footer__derechos {
	height: 30px;
	background: #000;
}

@media (width < 1000px) {
	.footer {
		& .footer__container {
			display: flex;
		}
	}
}