.nosotros{
    display: flex;
    flex-direction: row;
    padding: 0 5em;
    margin: 25px auto;
    width: 100%;
    height: min-content;
}

.nosotros__vision{
    padding: 25px 20px;
}

.nosotros__mision{
    background-color: var(--colorMision);
    padding: 25px 20px;
}

.nosotros__header{
    display: flex;
    flex-direction: row;
    align-items: center;

    & .nosotros__img{
        width: 100px;
        height: auto;
        padding: 15px;
    }

    & .nosotros__header--titulo{
        text-indent: 1em;
        width: 100%;
    }
}

