.nosotros{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    padding: 0 5em;
    margin: 25px auto;
    width: 100%;
    height: max-content;
    justify-content: center;
}

.nosotros__vision{
    padding: 25px 20px;
    min-width: 700px;
    width: 50%;
}

.nosotros__mision{
    background-color: var(--colorMision);
    padding: 25px 20px;
    min-width: 700px;
    width: 50%;
}

.nosotros__header{
    display: flex;
    flex-direction: row;
    align-items: center;

    & .nosotros__img{
        width: 100px;
        height: auto;
        padding: 15px;
    }

    & .nosotros__header--titulo{
        width: 100%;
    }
}

